In [22]:
%load_ext autoreload

%autoreload 2
import sys
# sys.path.append('../mockportfolio/')
sys.path.append('../')
data_path = '../data/'
from mockportfolio import Holdings, Prices
holdings = Holdings(data_path)
prices = Prices(data_path)

In [4]:
# listings
holdings.listings().head(5)

                   Name Tick                            Industry
0           MOQ LIMITED  MOQ                 Software & Services
1   1300 SMILES LIMITED  ONT    Health Care Equipment & Services
2  1414 DEGREES LIMITED  14D                       Capital Goods
3     1ST GROUP LIMITED  1ST    Health Care Equipment & Services
4          333D LIMITED  T3D  Commercial & Professional Services

In [8]:
holdings.random_ticks(holdings.listings()).Tick.values.tolist()

['IAM', 'BTC', 'PPG', 'VCD', 'MYE', 'DXB', 'RVS', 'MTC', 'SDX', 'BOT']

In [27]:
ticks = holdings.random_ticks(holdings.listings())
prices = Prices(data_path)
tick_prices = prices.update(ticks.Tick.values, '2019-10-01')
tick_prices = tick_prices[tick_prices.Tick.isin(ticks.Tick.values.tolist())]
price_pivot = tick_prices.pivot(index='Date', columns='Tick', values='Close')
tick_holding = holdings.build_portfolio(price_pivot)
tick_holding

NOV.ax [2019, 10, 1] [2019, 10, 21]
new  NOV.ax
BWF.ax [2019, 10, 1] [2019, 10, 21]
new  BWF.ax
KLR.ax [2019, 10, 1] [2019, 10, 21]
new  KLR.ax
Z1P.ax [2019, 10, 1] [2019, 10, 21]
unable to get tick:  Z1P.ax Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

LAU.ax [2019, 10, 1] [2019, 10, 21]
new  LAU.ax
COO.ax [2019, 10, 1] [2019, 10, 21]
new  COO.ax
HSC.ax [2019, 10, 1] [2019, 10, 21]
new  HSC.ax
SXE.ax [2019, 10, 1] [2019, 10, 21]
new  SXE.ax
RIC.ax [2019, 10, 1] [2019, 10, 21]
new  RIC.ax
SRN.ax [2019, 10, 1] [2019, 10, 21]
new  SRN.ax
0 out of 6 tickers were removed

{'BWF': 2139,
 'COO': 52632,
 'KLR': 36741,
 'LAU': 5405,
 'RIC': 1883,
 'SXE': 1189}

In [25]:
#tick_prices.Tick.unique()
tick_prices

             Date   Open    High    Low   Close  Adj Close     Volume Tick
21900  2019-10-01  0.005  0.0050  0.005  0.0050     0.0050  9779143.0  GTE
21901  2019-10-02  0.004  0.0040  0.004  0.0040     0.0040  1263741.0  GTE
21902  2019-10-03  0.004  0.0040  0.004  0.0040     0.0040        0.0  GTE
21903  2019-10-04  0.004  0.0045  0.004  0.0040     0.0040  3025476.0  GTE
21904  2019-10-07  0.004  0.0040  0.004  0.0040     0.0040  2422902.0  GTE
...           ...    ...     ...    ...     ...        ...        ...  ...
22013  2019-10-15  0.755  0.7550  0.740  0.7550     0.7550   109199.0  FDV
22014  2019-10-16  0.755  0.7700  0.745  0.7600     0.7600   243651.0  FDV
22015  2019-10-17  0.775  0.7750  0.750  0.7500     0.7500    65291.0  FDV
22016  2019-10-18  0.775  0.7750  0.750  0.7525     0.7525   105924.0  FDV
22017  2019-10-21  0.750  0.7500  0.750  0.7500     0.7500    59232.0  FDV

[116 rows x 8 columns]

In [23]:
price_pivot = holdings.portfolio('2019-10-01')
tick_holding = holdings.build_portfolio(price_pivot)
tick_holding

PO3.ax [2019, 10, 1] [2019, 10, 21]
new  PO3.ax
CAY.ax [2019, 10, 1] [2019, 10, 21]
new  CAY.ax
AHK.ax [2019, 10, 1] [2019, 10, 21]
new  AHK.ax
CCP.ax [2019, 10, 1] [2019, 10, 21]
new  CCP.ax
ASH.ax [2019, 10, 1] [2019, 10, 21]
new  ASH.ax
SPK.ax [2019, 10, 1] [2019, 10, 21]
new  SPK.ax
REZ.ax [2019, 10, 1] [2019, 10, 21]
new  REZ.ax
WEL.ax [2019, 10, 1] [2019, 10, 21]
new  WEL.ax
QBE.ax [2019, 10, 1] [2019, 10, 21]
new  QBE.ax
A3D.ax [2019, 10, 1] [2019, 10, 21]
new  A3D.ax
66 out of 86 tickers were removed

{'A3D': 0.043669960974946576,
 'AFA': 8.852659840830915e-05,
 'AHK': 7.713787884036058e-05,
 'AKP': 2.2818476984943594e-13,
 'AME': 7.128050544007285e-13,
 'AMT': 0.0021511462060094136,
 'AQG': 0.004719113989665413,
 'AQR': 0.0038493525437246147,
 'ARB': 0.0004781957986260026,
 'ASH': 1.7328712691800341e-12,
 'AVH': 0.02758752082077508,
 'AWN': 2.0091182067578956e-12,
 'BD1': 0.028168433205735068,
 'BFG': 0.011463485341942381,
 'BHP': 0.0018989380821627221,
 'BPP': 0.014448001145126142,
 'BRN': 1.18173741470694e-13,
 'BVS': 4.885147043853006e-13,
 'CAF': 0.0008993653700578628,
 'CAR': 0.001752130963390576,
 'CAY': 0.0028510466253172232,
 'CCP': 0.009512769478538203,
 'CGL': 2.2113249488458632e-13,
 'CKF': 1.5088447607531025e-13,
 'CMW': 0.005586020654505715,
 'DDR': 0.00620724358047912,
 'DEG': 0.009515136194441822,
 'DMP': 2.2012230705338215e-13,
 'DNA': 0.06212363322778085,
 'DNK': 0.00048794736406649713,
 'DTL': 0.004039694128190819,
 'EMB': 8.852659840832841e-05,
 'EPM': 0.14671353097682344,
 'ERX': 6.401494717006403e-13,
 'EX20': 0.0010481328020453696,
 'FEI': 4.4888344035822e-13,
 'FLN': 7.088477372326095e-13,
 'FRN': 0.02177947996050155,
 'GMA': 0.016890346288162467,
 'GOLD': 0.010403766964276903,
 'GWR': 0.026546861083152313,
 'HAW': 7.962501085138017e-13,
 'HSN': 0.0004618654811595689,
 'IAG': 0.0013424883744110854,
 'IFM': 0.00593907049298669,
 'IJP': 0.0010411695390876673,
 'IVV': 0.001682271562103595,
 'KP2': 0.002233217035510823,
 'LCM': 0.0003106136275024841,
 'LLC': 0.0011809760885067657,
 'LRM': 7.713787883976666e-05,
 'MDC': 0.003298229471151585,
 'MGT': 8.460252598303267e-13,
 'MLS': 0.011588564900921429,
 'MVF': 1.4174152687295822e-13,
 'MXT': 2.2199432044389052e-13,
 'NDQ': 0.0025815465235759687,
 'NTD': 1.075107219080131e-12,
 'OOO': 2.33223270328448e-13,
 'ORG': 0.0011930819319768194,
 'PO3': 0.031403051336905526,
 'PTR': 0.01074965308591146,
 'QBE': 1.7182633041295485e-13,
 'QOZ': 0.03236995316464572,
 'QRE': 0.0016113867669313524,
 'RCL': 1.663967227109124e-12,
 'REZ': 0.007974293929343512,
 'RHY': 0.008802494200224414,
 'RIM': 0.14123444664547258,
 'SCN': 0.0721506263568228,
 'SEN': 8.798212647649188e-13,
 'SIQ': 0.003495232772793115,
 'SPK': 2.2475378009605337e-13,
 'SVA': 9.763529026678708e-13,
 'SVY': 0.10559520770707041,
 'TER': 0.031160538742182668,
 'TMT': 1.820161902935592e-12,
 'TNE': 0.0016643644620844542,
 'TOP': 4.2613720536066497e-14,
 'TPP': 0.043332915827805206,
 'VAP': 0.0007005227736390851,
 'VEQ': 0.0008599097803514839,
 'VGE': 0.0009733625978263049,
 'WEB': 0.000764428232700767,
 'WEL': 9.349786161845013e-13,
 'XRO': 0.007181934224095516}

In [21]:
price_pivot

Tick,AFA,AKP,AME,AMT,AQG,AQR,ARB,AVH,AWN,BD1,...,TER,TMT,TNE,TOP,TPP,VAP,VEQ,VGE,WEB,XRO
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,17.750000,NaN,NaN,NaN,...,NaN,NaN,5.72,NaN,NaN,81.000000,47.700001,55.610001,10.37480,16.850000
2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,17.830000,NaN,NaN,NaN,...,NaN,NaN,5.67,NaN,NaN,79.820000,48.000000,56.099998,10.29680,16.990000
2017-01-05,NaN,NaN,NaN,NaN,NaN,NaN,17.790001,NaN,NaN,NaN,...,NaN,NaN,5.66,NaN,NaN,79.900002,47.730000,56.459999,10.10180,17.230000
2017-01-06,NaN,NaN,NaN,NaN,NaN,NaN,17.780001,NaN,NaN,NaN,...,NaN,NaN,5.64,NaN,NaN,80.419998,48.080002,56.389999,9.97503,17.410000
2017-01-09,NaN,NaN,NaN,NaN,NaN,NaN,18.040001,NaN,NaN,NaN,...,NaN,NaN,5.68,NaN,NaN,80.870003,47.950001,56.380001,10.12130,17.680000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-15,0.1,17.400000,0.037,0.11,6.18,3.45,NaN,0.565,0.145,0.046,...,0.445,0.165,7.13,0.3937,0.042,NaN,NaN,NaN,NaN,68.529999
2019-10-16,0.1,17.500000,0.037,0.11,5.76,3.47,NaN,0.590,0.145,0.047,...,0.440,0.170,7.33,0.3914,0.050,NaN,NaN,NaN,NaN,70.139999
2019-10-17,0.1,17.299999,0.035,0.11,5.80,3.42,NaN,0.670,0.145,0.047,...,0.440,0.160,7.23,0.3928,0.042,NaN,NaN,NaN,NaN,69.379997
2019-10-18,0.1,17.280001,0.035,0.11,5.97,3.42,NaN,0.650,0.140,0.052,...,0.440,0.155,7.34,0.3909,0.044,NaN,NaN,NaN,NaN,69.860001
2019-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN